:root {
	--color-site-bg: #fbfaf6;
	--color-plasma-40: #f1edfa;
	--color-plasma-100: #6545a9;
	--color-ocean-40: #f0f5fc;
	--color-ocean-60: #CAD9F1;
	--color-ocean-80: #6D97DD;
	--color-ocean-100: #2d68c8;
	--color-rise-40: #FAF5E8;
	--color-rise-160: #9B7A16;
	--color-midnight-100: #0F2B42;
	--color-midnight-80: #496174; 
	--color-midnight-60: #B3BDC5;

	--color-chart-bar-fg: #ccc;
	--color-theme-bg: #ececec;
	--color-text: var(--color-midnight-100);
	--color-nav-highlight-fg: var(--color-ocean-100);
	--color-nav-highlight-bg: var(--color-ocean-40);
	--color-site-footer-bg: var(--color-midnight-100);
	--color-site-footer-fg: var(--color-ocean-40);

	--headings-font: RalewayVariable, sans-serif;
	--body-font: 'Source Sans Pro', sans-serif;

	--font-size-xs: clamp(0.64rem, 0.11vw + 0.62rem, 0.7rem);
	--font-size-sm: clamp(0.8rem, 0.23vw + 0.75rem, 0.94rem);
	--font-size-base: clamp(1rem, 0.42vw + 0.92rem, 1.25rem);
	--font-size-md: clamp(1.25rem, 0.69vw + 1.11rem, 1.67rem);
	--font-size-lg: clamp(1.56rem, 1.1vw + 1.34rem, 2.22rem);
	--font-size-xl: clamp(1.95rem, 1.68vw + 1.62rem, 2.96rem);
	--font-size-xxl: clamp(2.44rem, 2.51vw + 1.94rem, 3.95rem);
	--font-size-xxxl: clamp(3.05rem, 3.68vw + 2.32rem, 5.26rem);
}

body {
	background-color: var(--color-site-bg, #fbfaf6);
	color: var(--color-text);
	font-family: var(--body-font);
	font-size: var(--font-size-base);
	line-height: 1.5;
}

h1,
h2,
h3 {
	font-family: var(--headings-font);
	font-weight: 700;
	font-variation-settings: "wght" 700;
}

h1 {
	font-size: var(--font-size-lg);
}

h2 {
	font-size: var(--font-size-md);
}

h2, h3 {
	margin: 2.4rem 0 .8rem;
}

p, ul, ol {
	margin: 0px 0px 20px;
  }

blockquote {
	font-family: var(--headings-font);
	font-variation-settings: "wght" 500;
	color: var(--color-midnight-80);
	text-transform: uppercase;
	text-align: center;
	margin: 2rem;
}

blockquote p {
	font-size: var(--font-size-md);
	line-height: 1.1;
}

small {
	font-size: var(--font-size-sm);
}

hr {
	color: var(--color-midnight-60);
}

.container {
	max-width: 64rem;
	margin: 0 auto;
	min-width: 320px;
	padding: 0 2rem;
}

button,
label,
input {
	font-size: var(--font-size-sm);
}
