:root {
	--color-site-bg: #fbfaf6;
	--color-plasma-40: #f1edfa;
	--color-plasma-100: #6545a9;
	--color-ocean-40: #f0f5fc;
	--color-ocean-100: #2d68c8;
	--color-midnight-100: #0F2B42;
	--color-midnight-80: #496174; 
	--color-midnight-60: #B3BDC5;

	--color-chart-bar-fg: #ccc;
	--color-chart-bar-bg: #ececec;
	--color-text: var(--color-midnight-100);
	--color-nav-highlight-fg: var(--color-ocean-100);
	--color-nav-highlight-bg: var(--color-ocean-40);
	--color-site-footer-bg: var(--color-midnight-100);
}

body {
	background-color: var(--color-site-bg, #fbfaf6);
	color: var(--color-text);
	font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

h2 {
	margin: 2.4rem 0 .8rem;
}

main p {
	margin: 0;
}

hr {
	color: var(-color-midnight-60);
}

.container {
	max-width: 64rem;
	margin: 0 auto;
	min-width: 320px;
	padding: 0 2rem;
}
